<h1> Add New Store </h1>
<h2>
<%= form_for(@store) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.hidden_field :total_spent, :value => 0 %>

  <%= f.submit %>
<% end  %>
</h2>
