<nav><%= link_to "Edit Store", edit_store_path %></nav>
<h1> <%= @store.name %></h1>

<h3>
  <ul>
    <% @store.update(total_spent: 0) %>
    <% @store.items.each do |items| %>
      <li> <%= items.name %>: $<%= items.amount%> </li>
      <% @store.total_spent += items.amount %>
      <% @store.update(total_spent: @store.total_spent) %>
    <% end %>
  </ul>
  <p>Total spent: $<%= @store.total_spent %> </p>
