<!DOCTYPE html>
<html>
<head>
  <title>WheresMyMoney</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav>
    <div class ="main_nav">
    <a href="/stores">Stores</a>
    <a href="/budget">Where's my money</a>
    <a href="/about">About</a>
  <% if current_user %>
    <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
  <% else %>
  <%= link_to 'Signup', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
  <% end %>
  </div>
  </nav>
<%= yield %>

</body>
</html>
